# See https://kit.svelte.dev/docs/adapter-static
# for more information about using the adapter-static adapter
node_modules
/build
/.svelte-kit

/tmp

# SAM
.aws-sam
infra/samconfig.toml
lambda/node_modules
lambda/_shared